<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.belzi.hciprototype">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BloodTester" />
        <activity android:name=".Settings" />
        <activity android:name=".Feedback" />
        <activity
            android:name=".OverallTab"
            android:label="@string/title_activity_tab1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CategoriesTab"
            android:label="@string/title_activity_tab2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Health" />
        <activity android:name=".FavouritesTab" />
        <activity android:name=".ListItemDetails" />
        <activity android:name=".CategoryDetail" />
        <activity android:name=".ValuesTab" />
        <activity android:name=".CategoryPagerAdapter" />
        <activity android:name=".BarChartTab" />
        <activity android:name=".LineChartTab" />
        <activity android:name=".SampleHistory" />
        <activity android:name=".EditAccount" />
        <activity android:name=".CustomiseCategories" />
        <activity android:name=".ValueInformation"></activity>
    </application>

</manifest>